
@media screen and (min-width:0px) {


    .mod_rhyme_onepagecheckout .paymentmethod.widget {
        border: 1px solid gray;
        position: relative;
        max-width: 400px;

        fieldset.radio_container {
            padding: 0;

            input.radio {
                vertical-align: middle;
            }
        }

        div.radio_label {
            padding: 10px 20px;
            border-bottom: 1px solid gray;

            label {
                display: inline-block;
                padding: 10px 0;
                vertical-align: middle;
            }
        }
        .option:last-child div.radio_label {
            border: none;
        }
        div.paymentForm {
            padding: 20px;
            background-color: $white;
            border-bottom: 1px solid gray;


            h2 {
                display: none;
            }

            .cardType {
                height: 50px;
                width: 50px;
                display: inline-block;
                margin-left: 5px;
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            .cardImgs {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px 15px 10px;
                width: 66%;
                text-align: right;
            }
            .cardTypeLabel {
                display: none;
            }

            .cardExp {
                float: left;
                width: 66.6666%;

                .field .widget {
                    display: inline-block;
                    width: 40%;
                }
                .field span.slash {
                    padding-left: 2px;
                    padding-right: 2px;
                    position: relative;
                    top: -5px;
                    display: inline-block;
                }
            }
            .cardCode {
                float: right;
                width: 33.3333%;

                input {
                    margin-bottom: 0;
                }
            }
        }
        fieldset.radio_container div.paymentForm .cardCode span {
            font-size: 11px;
            line-height: 12px;
            padding: 3px;
            font-style: italic;
        }
    }

}