

@media screen and (min-width:0px) {

    #shiprefresh {
        display: block;
        margin:0 auto 15px;
        padding:10px;
        background: $black;
        color:$white;
        border:none;
    }
    .spinning #shiprefresh {
        display:none;
    }
    .spinning.shippingmethod * {
        opacity: 0.75;
    }

    .billingaddress,
    .shippingaddress,
    .shippingmethod {
        margin-bottom: 20px;
    }
    #shippingmethod .shipping_method {
        margin-top: 20px;
    }
    .shippingmethod fieldset.radio_container {
        padding:0;
    }
    #address_shipping_shippingaddress .address-options.address-options-count-1 input.radio {
        display: none;
    }


}

@media screen and (min-width:641px) {

    .address_new .widget {
        padding:0 10px;
    }
    .widget.billingaddress_firstname,
    .widget.shippingaddress_firstname,
    .widget.billingaddress_city,
    .widget.shippingaddress_city,
    .widget.billingaddress_postal,
    .widget.shippingaddress_postal,
    .widget.billingaddress_phone,
    .widget.shippingaddress_phone{
        width:50%;
        float:left;
    }
    .widget.billingaddress_lastname,
    .widget.shippingaddress_lastname,
    .widget.billingaddress_subdivision,
    .widget.shippingaddress_subdivision,
    .widget.billingaddress_country,
    .widget.shippingaddress_country,
    .widget.billingaddress_email,
    .widget.shippingaddress_email{
        width:50%;
        float:right;
    }

    .widget.billingaddress_postal,
    .widget.shippingaddress_postal {
        width:30%;
    }
    .widget.billingaddress_country,
    .widget.shippingaddress_country {
        width:70%;
    }
    .widget.billingaddress_company,
    .widget.shippingaddress_company,
    .widget.billingaddress_city,
    .widget.shippingaddress_city,
    .widget.billingaddress_postal,
    .widget.shippingaddress_postal,
    .widget.billingaddress_phone,
    .widget.shippingaddress_phone {
        clear:both;
    }

}